.h2-ManageQuotes{
    text-align: center;
    font-size: 30px;
}

.main-quote-div-list{
    display: block;
    background-color: #EFECEC;
    width: 85vw;
    margin:auto;
    height: auto;
    padding-bottom: 40px;
}

.reset-button-manage-contacts{
    display: block;
    background-color: #4DA9FF;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 170px;
    border:none;
    margin:auto;
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
}

.change-pages-div{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-around;
    background-color: #EFECEC;
    max-width: 85vw;
    height: 90px;

}